# App Settings
APP_NAME="CareerPilot AI"
ENVIRONMENT=development
DEBUG=True

# Database
DATABASE_URL=postgresql+asyncpg://careerpilot:careerpilot@localhost:5432/careerpilot

# Security
SECRET_KEY=change-this-to-a-very-long-random-secret-key-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# IBM watsonx.ai / Granite Credentials
WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_MODEL_ID=ibm/granite-3-8b-instruct

# RAG & Embeddings
EMBEDDING_MODEL=all-MiniLM-L6-v2
FAISS_INDEX_PATH=rag/vector_store/faiss_index
